body {
  line-height: 1.6;
  font-family: $font-default;
  color: $n3-1;
  font-size: $h4;
  min-width: $layout-width;
  background-color: $n1-1;
}

.site-nav {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 240px;
  background-color: $white;
  z-index: $z3;
}

.site-nav-wrap {
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 70px;
  bottom: 0;
  left: 0;
  right: 0;
}

.site-body {
  padding-left: 240px;
  height: 100%;
}

.logo {
  line-height: 40px;
  float: left;
  margin: 15px 0 0 32px;
}

.logo__img {
  background-image: url('../img/logo.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 40px;
  height: 40px;
  float: left;
  margin-right: 16px;
}

.logo__text {
  font-size: 16px;
  float: left;
  color: $n3-1;
}

.header__notice {
  float: left;
  line-height: 40px;
  margin: 15px 16px 0 0;
  font-size: 12px;
  color: $n3-2;

  .notice__tag {
    padding: 2px;
    border: 1px solid $f1-6;
    border-radius: 2px;
    font-size: 12px;
    color: $f1-6;
    line-height: 1;
    margin: 0 8px;
    vertical-align: middle;

    &.serving-notice {
      border-color: $b1-1;
      color: $b1-1;
    }
  }

  .notice__time {
    display: inline-block;
    vertical-align: middle;
  }

  .notice__buy-service {
    display: inline-block;
    color: $n3-1;
  }
}

.header {
  height: 70px;
  background-color: $white;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: $z2;
  box-shadow: 0 0 10px $n2-1;
}

.header__item {
  float: right;
  text-align: center;
  padding: 0 24px;
  line-height: 70px;
  height: 70px;

  .header__buy-service {
    margin-right: 24px;
  }
}

.header-placeholder {
  height: 70px;
}

.account {
  border-left: $border;

  img {
    width: 36px;
    height: 36px;
    display: inline-block;
    border-radius: 36px;
    margin-right: 8px;
    line-height: 36px;
  }

  a {
    color: $b1-1;

    &:focus,
    &:hover {
      color: $b1-1;
    }
  }
}

.wrap {
  position: relative;
  margin: 32px 32px 142px;
}

@media screen and (min-width: 1680px) {
  .wrap {
    width: 1376px;
    margin-left: auto;
    margin-right: auto;
  }

  .payment-plan-wrap {
    &.wrap {
      width: 896px;
    }
  }
}

.current-miniapp-wrap {
  margin-left: 32px;
  margin-top: 48px;
}

.current-miniapp-label {
  color: $n3-3;
  font-size: 14px;
}

.current-miniapp {
  font-size: 16px;
  margin-top: 24px;

  li {
    @include cell-layout(middle);
  }
}

.current-miniapp-img {
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: $n2-1;
}

.current-miniapp-name {
  margin-left: 1em;
}

.menu-box {
  margin-bottom: 150px;
  font-size: $h3;
}

.menu {
  margin-top: 36px;
}

.menu__title {
  position: relative;
  width: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  font-weight: normal;
  color: $n3-3;
  font-size: 14px;
  padding-left: 32px;
}

.menu__icon {
  font-size: 20px;
  display: inline-block;
  margin-right: 28px;
  float: left;
  width: 20px;
  height: 20px;
  color: $b1-1;
  line-height: 1;
}

.menu__item {
  padding-left: 32px;
  padding-top: 26px;

  &.first {
    padding-top: 24px;
  }

  a {
    display: block;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    color: $n3-3;
    position: relative;
    line-height: 21px;
  }

  &.selected {
    a {
      color: $n3-1;
    }

    .menu__item-inner {
      position: relative;

      &::after {
        content: ' ';
        position: absolute;
        width: 4px;
        height: 42px;
        background-color: $b1-1;
        top: 50%;
        right: 0;
        margin-top: -21px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        box-shadow: 0 0 5px $b1-1;
      }
    }
  }
}

.theme-wrap {
  width: 900px;
  margin: 32px auto 100px;
  min-height: 400px;
  position: relative;
}

@media screen and (min-width: 1680px) {
  .theme-wrap {
    width: 1132px;
  }
}
