/* line 6, ../sass/style.scss */
body {
  /*font-size: 62.5%;*/
  /*text-align: center;*/
  font-family: 'Open Sans', fantasy, sans-serif;
  margin: 0;
}

/* line 13, ../sass/style.scss */
.hero {
  text-align: center;
  /* background-image: url(/images/find-an-agent-hero.png); */
  background-image: url(https://drscdn.500px.org/photo/115449731/m%3D2048/de36ebde35ec474d7d543171a2f6f02d);
  background-size: 200%;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  padding-bottom: 4rem;
  -moz-transition-property: background-size;
  -o-transition-property: background-size;
  -webkit-transition-property: background-size;
  transition-property: background-size;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/* line 31, ../sass/style.scss */
.hero:hover {
  background-size: 300%;
}
/* line 35, ../sass/style.scss */
.hero header {
  overflow: hidden;
  *zoom: 1;
}
/* line 40, ../sass/style.scss */
.hero header .logo {
  float: left;
  width: 8rem;
  height: 100%;
  margin: 2rem 1rem;
  padding: 0.5rem 1rem;
}
/* line 48, ../sass/style.scss */
.hero header .logo img[alt="logo"] {
  margin: 1rem 0.5rem;
  padding: 0.5rem 1rem;
  width: 8rem;
  height: 2rem;
  float: left;
}
/* line 57, ../sass/style.scss */
.hero header ul {
  text-align: right;
}
/* line 60, ../sass/style.scss */
.hero header ul li {
  display: inline-block;
  margin: 1rem 0.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  @border-radius : 2px;
}
/* line 67, ../sass/style.scss */
.hero header ul li:last-child {
  border: 1px solid white;
}
/* line 71, ../sass/style.scss */
.hero header ul li a {
  color: white;
  text-decoration: none;
}
/* line 80, ../sass/style.scss */
.hero h1 {
  font-size: 4rem;
  padding: 1rem 0 .5rem 0;
  color: white;
}
/* line 86, ../sass/style.scss */
.hero h2 {
  font-size: 2rem;
  color: #D9DADA;
}
/* line 91, ../sass/style.scss */
.hero form {
  padding: 2rem 0 4rem 0;
  font-size: 0;
  text-transform: uppercase;
}
/* line 96, ../sass/style.scss */
.hero form input[type="text"] {
  padding: 1rem;
  border: 0;
  width: 18rem;
  -moz-border-radius: 2px 0 0 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px 0 0 2px;
  background-color: #efefef;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 105, ../sass/style.scss */
.hero form input[type="button"] {
  color: white;
  padding: 1rem;
  border: 0;
  width: 6rem;
  -moz-border-radius: 0 2px 2px 0;
  -webkit-border-radius: 0;
  border-radius: 0 2px 2px 0;
  background-color: #6cdcac;
}

/* line 116, ../sass/style.scss */
.numbers {
  width: 80%;
  margin: -4rem auto 0;
  background-color: #efefef;
  overflow: hidden;
  *zoom: 1;
}
/* line 120, ../sass/style.scss */
.numbers ul {
  padding: 0;
  text-align: center;
}
/* line 126, ../sass/style.scss */
.numbers ul li {
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 25%;
  margin-left: -1px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
}
/* line 137, ../sass/style.scss */
.numbers ul li:last-child {
  border-right: 1px solid #ccc;
  margin-left: -2px;
}
/* line 143, ../sass/style.scss */
.numbers ul h2 {
  font-size: 150%;
}

/* line 155, ../sass/style.scss */
.how-it-works {
  font-family: sans-serif;
  text-align: center;
}
/* line 160, ../sass/style.scss */
.how-it-works > p {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3rem;
}
/* line 165, ../sass/style.scss */
.how-it-works > p::after {
  content: '';
  display: block;
  width: 0;
  margin: 0 auto;
  border-bottom: 2px solid #aeaeae;
  -moz-transition-property: width;
  -o-transition-property: width;
  -webkit-transition-property: width;
  transition-property: width;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/* line 178, ../sass/style.scss */
.how-it-works > p:hover::after {
  width: 16rem;
}
/* line 184, ../sass/style.scss */
.how-it-works ul {
  padding: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 188, ../sass/style.scss */
.how-it-works li {
  position: relative;
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 33.333%;
}
/* line 201, ../sass/style.scss */
.how-it-works li::before {
  display: block;
  content: "";
  border-bottom: 1px solid #aeaeae;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 1.5rem;
  z-index: -1;
}
/* line 213, ../sass/style.scss */
.how-it-works li:last-child::before {
  display: none;
}
/* line 218, ../sass/style.scss */
.how-it-works li i.fa-list {
  color: #EBA858;
}
/* line 219, ../sass/style.scss */
.how-it-works li i.fa-pencil {
  color: #AC9CD2;
}
/* line 220, ../sass/style.scss */
.how-it-works li i.fa-user {
  color: #4D99CB;
}
/* line 221, ../sass/style.scss */
.how-it-works li i {
  font-size: 3rem;
  display: block;
  margin: 2rem;
}
/* line 227, ../sass/style.scss */
.how-it-works li span {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  border: 1px solid #aeaeae;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #fff;
  font-size: 150%;
  font-weight: bold;
}
/* line 239, ../sass/style.scss */
.how-it-works li p {
  max-width: 14rem;
  margin: 0 auto;
}
/* line 244, ../sass/style.scss */
.how-it-works li p, .how-it-works li span {
  color: #aeaeae;
}
