.menu {
    text-align: center;
}
.menu li {
    display: inline-block;
    border-top: solid #777 10px;
}

.menu a {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
}

.translate a {
    background-color: #2EC7D2;
}
.translate-x a {
    background-color: #8FDD21;
}
.translate-y a {
    background-color: #F45917;
}
.rotate a {
    background-color: #D50E19;
}
.scale a {
    background-color: #CDDDF2;
}
.scale-x a {
    background-color: #0fDD21;
}
.scale-y a {
    background-color: #cd5917;
}
.skew a {
    background-color: #519;
}
.skew-x a {
    background-color: #D50;
}
.skew-y a {
    background-color: #E19;
}
.matrix a {
    background-color: #919;
}

/* transform style */
.translate a {
    transform: translate(10%, 10%);
}
.translate-x a {
    transform: translateX(10%);
}
.translate-y a {
    transform: translateY(10%);
}
.rotate a {
    transform: rotate(90deg);
}
.scale a {
    transform: scale(1.2, 0.8);
}
.scale-x a {
    transform: scaleX(.5);
}
.scale-y a {
    transform: scaleY(.5);
}
.skew a {
    transform: skew(30deg, 30deg);
}
.skew-x a {
    transform: skewX(30deg);
}
.skew-y a {
    transform: skewY(30deg);
}
.matrix a {
    transform: matrix(1, 0, 0, 1, 0, 0);
}