.empty {
  display: block;
  padding-top: 120px;
  text-align: center;
}

.empty__icon {
  background-image: url('../img/empty.png');
  background-repeat: no-repeat;
  background-size: 100%;
  display: inline-block;
  height: 150px;
  width: 150px;
}

.box {
  padding: 28px 30px 24px;
  background-clip: padding-box;
  margin-bottom: 15px;
  background-color: $white;
  border-radius: 4px;

  label {
    font-size: 12px;
    margin-bottom: 12px;
    line-height: 1;
  }
}

.action-container {
  clear: both;
  margin-bottom: 28px;
}

.box-layout {
  padding: 20px;
  background-clip: padding-box;
  margin-bottom: 15px;
  background-color: transparent;
}

.group {
  background-color: $white;
  margin-bottom: 15px;
  padding: 15px 20px;
}

.icon-action {
  &.btn {
    position: relative;
    padding-left: 40px;

    i {
      font-size: 20px;
      position: absolute;
      left: 10px;
      top: 5px;
      color: $white;
    }

    &.btn-bordered {
      i {
        color: $b1-1;
      }
    }
  }
}

.mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $z3;
  background-color: $white;
  opacity: .5;
}

.loader {
  background-image: url('../img/loading.gif');
  background-position: center;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -15px;
  margin-top: -15px;
  z-index: $z4;

  &.fixed {
    position: fixed;
    margin-left: 90px;
  }
}

.form-select-control {
  $select-height: 44px;

  .Select-control {
    $select-shadow: rgba(0, 0, 0, .075);

    height: $select-height;
    border-color: $n2-1;
    box-shadow: inset 0 1px 1px $select-shadow;
  }

  .Select-input {
    height: $select-height;

    input {
      line-height: 24px;
    }
  }

  .Select-placeholder {
    line-height: $select-height;
  }

  &.Select--multi {
    .Select-value {
      margin-top: 10px;
      color: $b1-1;
      border-color: $b1-2;
      background-color: $white;
    }

    .Select-value-label {
      padding-left: 4px;
      padding-right: 4px;
    }
  }
}

.pepe-modal-table {
  table {
    background-color: $white;
    margin-bottom: 0 !important;
  }

  .bd {
    margin: 8px 0 36px;
  }

  .ft {
    margin-top: 28px;
    text-align: right;
    background-color: $n1-1;
  }

  .btn {
    margin-right: 12px;

    &:last-child {
      margin-right: 0;
    }
  }

  th,
  td {
    text-align: center;
    vertical-align: middle !important;
  }
}

.pepe-min-box {
  padding: 5px;
  display: table;
  width: 100%;

  .ft {
    padding-top: 30px;
    text-align: center;
  }

  .btn {
    margin-right: 25px;
    min-width: 110px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.uploader__img {
  $size: 100px;

  display: block;
  width: $size;
  height: $size;
  border: 1px solid $gray;
  float: left;
  margin-right: 15px;
  position: relative;
  overflow: hidden;

  a {
    display: block;
    width: $size;
    height: $size;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -($size / 2);
    margin-top: -($size / 2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  img {
    width: $size;
  }

  &:hover {
    .uploader__remove {
      display: block;
    }
  }

  .uploader__img-mask {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    opacity: .5;
    background-color: $n1-3;
  }
}

.uploader {
  position: relative;
}

.uploader__remove {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  display: none;
}

.uploader__label {
  position: relative;
  padding: 10px 0;
  text-align: center;
  font-size: 12px;
  color: $white;
}

.uploader__mask {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: $black;
  opacity: .5;
}

.uploader__btn {
  @include flex-center;

  width: 100px;
  height: 100px;
  border: 1px solid $gray;
  color: $darkgray;
  cursor: pointer;
  float: left;
  margin-bottom: 0;
  border-radius: 4px;

  i {
    font-size: 36px;
  }
}

.uploader__action {
  line-height: 1;
  text-align: center;
}

.tips {
  list-style: none;
  color: $darkgray;
  margin: 0;
  padding: 0;
  font-size: 13px;
}

.product-attr-editor {
  td {
    padding: 0 16px 8px 0;
  }

  .table-bordered {
    width: auto;

    th {
      border: 0;
      border-bottom: $border;
      padding: 18px 16px;
    }

    td {
      border: 0;
      border-bottom: $border;
      padding: 18px 16px;
    }
  }
}

.product-spec {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    position: relative;
  }
}

.product-spec__title {
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  margin: 0 16px 8px 0;
}

.product-spec__value-list {
  margin-bottom: 20px;
  padding: 8px 8px 0;
  border: $border;
  border-radius: 4px;

  i {
    font-style: normal;
  }
}

.product-spec__remove {
  position: absolute;
  background-color: $white;
  border: $border;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  text-align: center;
  line-height: 30px;
  top: -10px;
  right: -10px;
  color: $f2-2;
}

.product-spec__value {
  margin-right: 8px;
  margin-bottom: 8px;
}

.product-spec__value-add {
  color: $b1-1;
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 8px 8px;
  font-size: 12px;

  &:active,
  &:hover,
  &:focus {
    color: $b1-1;
  }
}

.popup-wrap {
  position: relative;
  display: inline-block;
}

.spec-update {
  .popup {
    top: 25px;
  }
}

.popup {
  position: absolute;
  top: 50px;
  left: 50%;
  margin-left: -250px;
  box-shadow: $shadow;

  .form-inline {
    padding: 16px;
    position: relative;
    z-index: 2;
    background-color: $white;
    width: 500px;
  }

  .form-group {
    margin-right: 16px;

    label {
      font-size: 14px;
      margin-right: 10px;
    }
  }

  .iconpepe-close {
    color: $f2-2;
    font-size: 10px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

.pepe-form__control {
  .popup {
    .form-control {
      width: 160px;
    }
  }

  .input-lookup,
  .input-date-range {
    float: left;
  }
}

.popup__arraw {
  transform-origin: 0 0;
  transform: rotate(45deg) translateX(-50%) translateY(-50%);
  left: 50%;
  top: 1px;
  position: absolute;
  width: 6px;
  height: 6px;
  background: $white;
  box-shadow: $shadow;
  z-index: 1;
}

.input-date-range__label {
  text-align: center;
  margin-top: 15px;
  line-height: 1;
}

.memo-list {
  height: 600px;
  position: relative;
}

.memo-list__bd {
  height: 400px;
  overflow-y: scroll;

  .time-line {
    margin: 35px;
  }
}

.memo-list__ft {
  position: absolute;
  left: -28px;
  right: -28px;
  bottom: -28px;
  background-color: $white;
  height: 220px;
  padding: 28px;
  box-shadow: 0 -5px 5px -5px $n2-1;
}

.memo-list__ft-content {
  margin-bottom: 16px;
}

.memo-list__ft-action {
  text-align: right;

  .btn {
    margin-left: 12px;
  }
}

.time-line {
  position: relative;

  &::before {
    background-color: $verylightgray;
    bottom: 0;
    content: '';
    left: 6px;
    position: absolute;
    top: 6px;
    width: 2px;
    z-index: 0;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    margin-left: 40px;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: 0;
    }
  }
}

.time-line__hd {
  overflow: hidden;
  margin-bottom: 5px;
  font-size: 16px;
  color: $n3-2;
}

.time-line__bd {
  color: $darkgray;
}

.time-line__date {
  float: right;
  color: $darkgray;
  font-size: 14px;
}

.time-line__dot {
  position: absolute;
  left: -40px;
  top: 5px;
  width: 14px;
  height: 14px;
  border-radius: 14px;
  background-color: $darkgray;
}

.active {
  color: $b1-1;

  .time-line__hd,
  .time-line__bd,
  .time-line__date {
    color: $b1-1;
  }

  .time-line__dot {
    background-color: $b1-1;
  }
}

.tracking-info {
  padding-left: 80px;
  margin-top: 30px;

  .time-line__hd {
    font-size: 14px;
  }

  .time-line__bd {
    font-size: 14px;
  }

  li {
    padding-bottom: 0;
  }
}

.img-preview {
  display: table;
  width: 100%;
}

.img-preview__prev,
.img-preview__next {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 28px;
  cursor: pointer;
  color: $darkgray;
}

.img-preview__content {
  display: table-cell;
  vertical-align: middle;
  width: 90%;

  img {
    width: 100%;
  }
}

.clickable-img {
  cursor: pointer;
  text-align: center;
  width: 52px;

  img {
    width: 52px !important;
    display: block;
    border: $border;
  }

  p {
    margin: 8px 0 0;
    line-height: 1;
  }
}

.notification {
  position: fixed;
  z-index: $z1;
  width: 335px;
  margin-right: 24px;
  top: 24px;
  right: 0;
}

.notification-item {
  padding: 16px;
  border-radius: 4px;
  box-shadow: $shadow;
  background: $white;
  line-height: 1.5;
  position: relative;
  margin-bottom: 10px;
  overflow: hidden;
}

.notification-item__message {
  font-size: 14px;
  color: $description-color;
  margin-bottom: 4px;
  line-height: 20px;
  display: inline-block;
  padding-right: 24px;
}

.notification-item__description {
  font-size: 12px;
}

.notification-item__close {
  position: absolute;
  top: 5px;
  right: 5px;
  font-style: normal;
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  cursor: pointer;
}

.arraw {
  .dripicons-chevron-up,
  .dripicons-chevron-down {
    font-size: 20px;
    display: block;
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin: auto;
    color: $blue;
  }

  i {
    &:hover {
      background: $verylightgray;
    }
  }
}

.lookup__bd {
  min-height: 400px;
}

.ad-target-picker {
  a {
    padding-left: 10px;
  }
}

.ad-target-picker__item {
  margin-bottom: 10px;
}

.top-nav {
  float: left;

  .nav-tabs__question-item {
    a {
      display: inline-block;
    }
  }
}

.cta-group {
  .btn {
    margin-right: 12px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.list-header {
  margin: 28px 0 24px;

  h1 {
    font-size: 24px;
    float: left;
    margin: 0;
    padding: 0;
    font-weight: normal;
    line-height: 40px;
  }

  &.no-btn {
    h1 {
      line-height: 1;
    }
  }
}

.pepe-media {
  min-height: 60px;
  padding-left: 108px;
  padding-right: 32px;
  position: relative;

  img {
    width: 60px;
    position: absolute;
    left: 32px;
    top: 0;
  }
}

.pepe-media__title {
  max-height: 66px;
  overflow: hidden;
  line-height: 1.5;
}

.pepe-media__label {
  line-height: 1;
  margin-top: 8px;

  span {
    display: inline-block;
    padding: 2px 4px;
    background-color: $f1-6;
    color: $white;
    font-size: 12px;
    line-height: 1;
  }
}

.order-table,
.detail-table {
  .pepe-media {
    padding-left: 76px;

    img {
      left: 0;
    }
  }
}

.flex-media {
  display: flex;
  align-items: center;

  img {
    width: 60px;
    padding: 0;
    margin: 0 16px;
  }

  .text {
    flex: 1;
  }
}

.pepe-media__checkbox {
  position: absolute;
  left: 0;
  top: 50%;
  margin: -6px 0 0;
}

.product-spec-editor {
  td {
    vertical-align: middle !important;
  }

  .visible {
    width: 2% !important;
    text-align: center;
  }

  .unit_cost,
  .original_price,
  .discount_price,
  .inventory {
    width: 10% !important;

    .form-control {
      width: 100%;
      padding: 3px;
    }
  }

  .bar_code,
  .supplier_code {
    width: 14% !important;

    .form-control {
      width: 100%;
      padding: 3px;
    }
  }

  .sku_image {
    width: 60px !important;
  }
}

.callback-alert {
  background-color: $white;
  margin: auto;
  width: 508px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 60px;

  p {
    margin-bottom: 0;
  }
}

.callback-alert__hd {
  padding: 72px 80px 0;
  font-size: 24px;
  text-align: center;

  i {
    margin-right: 16px;
  }
}

.callback-alert__bd {
  padding: 48px 80px 0;

  p {
    font-size: 12px;
  }
}

.callback-alert__ft {
  padding: 40px 80px 0;
  text-align: center;
}

.callback-alert--fail {
  &.callback-alert {
    i {
      color: $f1-6;
    }
  }

  .callback-alert__label {
    color: $f1-6;
    font-size: 12px;
  }
}

.callback-alert--success {
  &.callback-alert {
    i {
      color: $b1-1;
    }
  }
}

.miniapp-section {
  background-color: $white;
  width: 896px;
  margin: 24px auto 0;
  padding: 28px 4px 4px 28px;
  border-radius: 4px;
  min-height: 496px;

  &:first-child {
    margin-top: 32px;
  }
}

.miniapp-section__hd {
  line-height: 1;
  margin-bottom: 24px;
  font-size: 16px;
}

.miniapp-section__bd {
  overflow: hidden;
}

.miniapp-section__item {
  float: left;
  width: 264px;
  height: 207px;
  border: $border;
  margin-right: 24px;
  margin-bottom: 24px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none !important;
  padding: 20px;
  font-size: 12px;

  img {
    width: 68px;
    height: 68px;
    display: inline-block;
  }

  h1 {
    font-size: 16px;
    color: $n3-1;
    display: block;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
  }

  p {
    display: block;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    margin: 0;
    color: $n3-1;
  }

  &.miniapp-section__item--btn {
    padding-top: 62px;
    color: $b1-1;
    text-align: center;

    i {
      font-size: 32px;
    }
  }
}

.miniapp-timeline {
  margin: 48px 48px 72px 282px;
}

.miniapp-timeline__item {
  padding-left: 80px;
  position: relative;

  &::before {
    content: ' ';
    width: 2px;
    height: 100%;
    background-color: $n2-1;
    position: absolute;
    left: 0;
    top: 0;
  }

  &:last-child {
    &::before {
      height: 16px;
    }
  }
}

.miniapp-timeline__item-hd {
  font-size: 16px;
  line-height: 1;

  &::after {
    content: ' ';
    width: 30px;
    height: 30px;
    background-color: $b1-1;
    opacity: .34;
    position: absolute;
    left: -15px;
    top: -7px;
    border-radius: 15px;
  }

  &::before {
    content: ' ';
    border-top: 2px solid $n2-1;
    width: 60px;
    position: absolute;
    left: 0;
    top: 8px;
  }
}

.miniapp-timeline__item-bd {
  list-style: disc;
  font-size: 12px;
  line-height: 1;
  padding: 24px 16px 46px;

  li {
    margin-bottom: 8px;
  }
}

.tile-list {
  overflow: hidden;
}

.tile-item {
  width: 204px;
  height: 362px;
  float: left;
  margin: 0 28px 28px 0;
  position: relative;
  overflow: hidden;

  &:nth-child(4n+4) {
    margin-right: 0;
  }

  &.tile-item--more {
    border-radius: 4px;
    border: $border;
    position: relative;

    .text-center {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      margin-top: -22px;
      font-size: 12px;
      color: $n3-3;
    }

    .iconpepe-robot {
      font-size: 18px;

      &::before {
        color: $n3-3;
      }
    }
  }
}

@media screen and (min-width: 1680px) {
  .tile-item {
    &:nth-child(4n+4) {
      margin-right: 28px;
    }

    &:nth-child(5n+5) {
      margin-right: 0;
    }
  }
}

.tile-item__img {
  height: 90%;
  overflow: hidden;

  img {
    width: 100%;
    border-radius: 4px;
    display: block;
  }
}

.tile-item__detail {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 120px;
  padding: 16px;
  background-color: $white;
  box-shadow: 0 0 10px -5px $n3-3;
  border-radius: 4px;

  h1 {
    font-size: 16px;
    line-height: 1.25;
    margin: 0 0 12px;
  }

  h2 {
    color: $f1-6;
    font-size: 14px;
    line-height: 1;
    margin: 0;
  }
}

.tile-item__detail-ft {
  position: absolute;
  left: 16px;
  right: 16px;
  bottom: 16px;
}

.highlight {
  background-color: $b1-1;
  color: $white;
  display: inline-block;
  font-size: 12px;
  padding: 4px;
  line-height: 1;
}

.qrcode {
  overflow: hidden;
  min-height: 214px;
  position: relative;
}

.qrcode-empty {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 160px;
}

.qrcode__img {
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 308px;

  img {
    width: 160px;
    height: 160px;
  }
}

.qrcode__links {
  a {
    color: $b1-1 !important;
    display: inline-block;
    margin-right: 16px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.qrcode__text {
  margin-top: 44px;
  margin-left: 308px;

  h1 {
    line-height: 1;
    margin: 0 0 24px;
    font-size: 16px;
    font-weight: normal;
  }

  span {
    font-size: 12px;
  }

  ul {
    font-size: 12px;
    list-style: disc !important;
    padding-left: 16px !important;
    margin-top: 16px !important;
  }
}

.miniapp-version-layout {
  padding: 28px;
  background-color: $white;
  margin-bottom: 24px;
  border-radius: 4px;
}

.miniapp-version-layout__hd {
  font-size: 16px;
  line-height: 1;
  margin-bottom: 24px;
}

.miniapp-version-status {
  display: flex;
  position: relative;
  margin: 32px 0 30px;

  &::after {
    content: ' ';
    position: absolute;
    top: 15px;
    left: 35px;
    right: 35px;
    height: 2px;
    background-color: $n2-1;
    z-index: 1;
  }
}

.miniapp-version-status__item {
  padding-top: 46px;
  flex: 1;
  position: relative;

  &:last-child {
    flex: 0 0 auto;
  }

  &::after {
    content: ' ';
    position: absolute;
    left: 20px;
    top: 0;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: $f2-2;
    opacity: .24;
    z-index: 2;
  }
}

.miniapp-version-status__item--active {
  &::after {
    background-color: $b1-1;
  }

  .miniapp-version-status__text {
    color: $b1-1;
  }
}

.miniapp-version-status__text {
  display: inline-block;
  width: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  color: $n3-3;
}

.miniapp-version {
  min-height: 180px;
  border: $border;
  border-radius: 4px;
  display: flex;
  padding: 32px 0;
}

.miniapp-version__hd {
  width: 172px;
  text-align: center;
}

.miniapp-version__bd {
  flex: 1;
}

$pepedropdownshadow: 0 1px 4px 0 rgba(42, 48, 57, .28);

.miniapp-version__ft {
  width: 180px;

  .btn {
    width: 96px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    float: left;
    margin-left: 32px;
  }

  .pepe-dropdown {
    float: left;
    position: relative;
    width: 20px;
    height: 20px;
    margin-left: 16px;
    margin-top: 9px;
    text-align: center;

    .iconpepe-dropdown {
      font-size: 10px;
      color: $f2-3;
      line-height: 1;
      cursor: pointer;
    }

    &.active {
      .pepe-dropdown__content {
        display: block;
      }
    }

    .pepe-dropdown__content {
      display: none;
      position: absolute;
      width: 160px;
      background-color: $white;
      left: -112px;
      top: 46px;
      box-shadow: $pepedropdownshadow;
      border-radius: 4px;
      padding: 16px 24px;

      &::before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid $white;
        top: -10px;
        right: 29px;
        z-index: 2;
      }

      &::after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-left: 11px solid transparent;
        border-right: 11px solid transparent;
        border-bottom: 11px solid $n2-1;
        top: -11px;
        right: 28px;
        z-index: 1;
      }

      span {
        display: block;
        margin-bottom: 16px;
        text-align: left;
        color: $n3-4;
        cursor: pointer;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.miniapp-version--empty {
  @include flex-center;
}

.miniapp-version__title {
  font-size: 20px;
}

.miniapp-version__version {
  font-size: 20px;
}

.miniapp-version__status {
  font-size: 16px;
}

.miniapp-version__label {
  color: $n3-2;
}

.input-tag {
  border: $border;
  background-color: $white;
  border-radius: 4px;
  padding: 9px 16px 1px;
  display: block;
  overflow: hidden;
  margin: 0;
}

.input-tag__item {
  margin: 0 8px 8px 0;
  float: left;

  i {
    display: inline-block;
    margin-left: 8px;
    font-size: 10px;

    &::before {
      color: $white;
    }
  }
}

.input-tag__input {
  float: left;
  border: 0;
  outline: none;
  margin-bottom: 8px;
}

.error {
  color: $n3-2;
}

.certificate {
  background-image: url('../img/certificate.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  display: inline-block;
}

.page-nav {
  background-color: $white;
  border-bottom: 1px solid $n2-3;
  padding: 8px 8px 0;

  .nav-tabs {
    > li {
      margin-right: 4px;
      border: 1px solid $n2-3;
      border-bottom: 0;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      background-color: $n1-2;

      a {
        font-size: 14px;
        padding: 8px 16px;
        line-height: 1;
        margin: 0;
      }

      &.active {
        background-color: $white;
        border-bottom: 1px solid $white;

        a {
          color: $b1-1;
        }
      }
    }
  }
}

.pepe-panel__bd {
  overflow: hidden;

  .left {
    width: 407px;
    float: left;
  }

  .right {
    width: 407px;
    float: right;
  }
}

.pepe-panel__ft {
  text-align: right;
  margin-top: 28px;
}

.product-table__bd {
  background-color: $white;
  margin-top: 12px;

  td {
    padding: 16px 0;
    font-size: 12px;

    &:first-child {
      padding-left: 16px;
    }
  }

  .product-table__scroll {
    td {
      padding: 20px 0 0;

      &:first-child {
        padding-left: 16px;
      }
    }
  }
}

.product-table__ft {
  border-top: 1px solid $n2-1;
  background-color: $white;
  padding: 12px 16px 16px;

  > .clearfix {
    margin-top: 0 !important;
    margin-bottom: 12px;
  }

  .btn-bordered {
    i {
      color: $f2-2;
      margin: 0 0 0 4px;
      padding: 0;
    }
  }
}

.with-icon {
  padding: 4px 8px;

  i {
    color: $white;
    font-size: 12px;
    margin-right: 4px;
  }
}

.product-table__scroll {
  height: 300px;
  overflow: auto;
  border-top: 1px solid $n2-1;
}

.pepe-flex {
  display: flex;
}

.pepe-flex__item {
  flex: 1;
}

.tags-editor__item {
  float: left;
  font-size: 12px;
  border-radius: 4px;
  margin-right: 8px;
  padding: 0;

  &:last-child {
    margin-right: 0;
  }

  &.label {
    position: relative;
    color: $n3-1;
    border: 1px solid $n2-2;
    border-radius: 2px;

    .inner {
      padding: 8px 8px 8px 28px;
      cursor: pointer;
      color: $n3-4;

      i {
        color: $f2-2;
        font-size: 12px;
        position: absolute;
        top: 8px;
        left: 8px;
      }
    }
  }

  &.value {
    background-color: $b1-1;
    color: $white;
    padding: 8px 28px 8px 8px;
    position: relative;

    > i {
      color: $white;
      font-size: 9px;
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
    }
  }

  .popup {
    margin-left: -180px;
    top: 38px;
  }

  .form-inline {
    width: auto;
    width: 360px;
    text-align: left;
  }
}

.detail-title {
  font-size: 24px;
  line-height: 1;
}

.modal {
  .pepe-step-wrap {
    padding: 0;
  }

  .pepe-step {
    padding-left: 170px;

    &::before {
      width: 140px;
    }
  }
}

.pepe-step-wrap {
  overflow: hidden;
  padding: 24px 0 0;
}

.pepe-step {
  float: left;
  font-size: 14px;
  line-height: 1;
  color: $n3-3;
  padding-left: 232px;
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    width: 200px;
    height: 1px;
    background-color: $n2-1;
    position: absolute;
    left: 16px;
    top: 50%;
  }

  &:first-child {
    padding-left: 0;

    &::before {
      display: none;
    }
  }

  &.active {
    .pepe-step__id {
      color: $white;
      background-color: $b1-1;
      border: 1px solid $b1-1;
    }

    .pepe-step__name {
      color: $n3-1;
    }

    &::before {
      background-color: $b1-1;
    }
  }

  &.preactive {
    .pepe-step__id {
      border: 1px solid $b1-1;
      color: $b1-1;
    }
  }
}

.pepe-step__id {
  width: 28px;
  height: 28px;
  text-align: center;
  line-height: 28px;
  border-radius: 50%;
  border: 1px solid $f1-3;
  display: inline-block;
  margin-right: 8px;
}

.category-wrap {
  overflow: hidden;
}

.category-list {
  float: left;
  margin-right: 28px;
}

.category-list__hd {
  color: $n3-2;
  line-height: 1;
}

.category-list__bd {
  width: 208px;
  height: 300px;
  overflow: auto;
  margin-top: 16px;
  border: 1px solid $n2-1;
  border-radius: 4px;
  padding: 8px 0;

  li {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    line-height: 1;
    padding: 8px 20px;

    &:hover {
      background-color: $n1-2;
    }
  }
}

.input-lookup {
  position: relative;
}

.input-lookup__control {
  padding-right: 44px;
}

.input-lookup__btn {
  position: absolute;
  width: 44px;
  height: 44px;
  top: 0;
  right: 0;
  line-height: 44px;
  text-align: center;
  cursor: pointer;

  i {
    color: $f2-4;
    font-size: 16px;
  }
}

.shelf-editor {
  overflow: hidden;
}

.shelf-editor__label {
  margin-bottom: 16px;
}

.shelf-editor__body {
  overflow: hidden;
  margin-bottom: 8px;

  .tags-editor__item {
    margin-bottom: 8px;
  }
}

$input-keeper-options-shadow: 0 1px 4px 0 rgba(42, 48, 57, .28);

.input-keeper-options {
  background: $white;
  box-shadow: $input-keeper-options-shadow;
  border-radius: 4px;
  position: absolute;
  left: 0;
  right: 0;
  top: 48px;
  z-index: 9;

  li {
    padding: 8px 20px;
    cursor: pointer;

    &:first-child {
      padding-top: 16px;
    }

    &:last-child {
      padding-bottom: 16px;
    }

    &:hover {
      background-color: $n1-1;
    }
  }
}

.activity-table-list {
  table {
    &:last-child {
      margin-bottom: 0;
    }
  }

  .pepe-table {
    td {
      vertical-align: middle;
    }
  }
}

.addr-selector {
  $spread-bg-color: #fffec6;
  $spread-border-color: #f7e4a5;

  background-color: $n1-1;
  padding: 0;

  label {
    margin: 0;
  }

  input {
    &[type='checkbox'] {
      margin-right: 5px;
    }
  }

  .toggle-icon {
    margin-left: 2px;
  }

  .addr-selector__header-word {
    font-weight: 700;
    font-size: 18px;
    margin: 0;
    line-height: 1.5;
  }

  .addr-checkbox,
  %addr-checkbox {
    padding: 5px;
    height: 32px;
  }

  .addr-selector__content {
    padding: 10px 20px;
    overflow: auto;
  }

  .province-checkbox-container {
    position: relative;
    display: inline-block;

    &.province-checkbox-container_spread {
      background-color: $spread-bg-color;
    }
  }

  .city-checkbox-container__closer {
    text-align: right;

    span {
      cursor: pointer;
    }
  }

  .province-checkbox {
    @extend %addr-checkbox;

    border: 1px solid transparent;

    &.province-checkbox_spread {
      border-bottom: 0;
      border-color: $spread-border-color;
    }
  }

  .city-checkbox-container {
    position: absolute;
    left: 0;
    width: 180px;
    max-height: 200px;
    margin-bottom: 50px;
    padding: 5px;
    border: 1px solid $spread-border-color;
    border-top: 0;
    word-break: break-all;
    white-space: normal;
    background-color: $spread-bg-color;
    display: none;
    z-index: 3;
    overflow-y: scroll;

    &.city-checkbox-container_spread {
      display: block;
    }
  }

  .addr-selector__footer {
    text-align: right;

    .btn {
      margin: 0 5px;
    }
  }
}

.logistics-list {
  .form-group {
    margin-bottom: 0;
  }

  .filter {
    position: relative;
  }

  .filter-area {
    padding-right: 124px;
  }

  .filter-button {
    position: absolute;
    right: 0;
    bottom: 2px;
  }
}

.logistics-list-pane {
  .alert-success {
    $alert-bg: rgba(35, 195, 52, .08);
    $color: #14174b;

    background: $alert-bg;
    border-width: 0;
    color: $color;
  }

  .alert {
    $size: 12px;

    font-size: $size;
    line-height: 1;
    padding: $size 20px;
  }

  .message-item {
    display: inline-block;
    margin-right: 32px;

    span {
      color: $n3-2;
    }
  }

  .pepe-table {
    .spacing-td {
      background-color: $n1-1;
      padding: 0;
      height: 9px;
    }

    tbody {
      td {
        line-height: 1.2857;
        padding-right: 32px;
      }
    }
  }

  .operate-td {
    padding-top: 10px;
    padding-bottom: 10px;

    &.table-action-group {
      text-align: center;

      .btn-group {
        margin-right: -30px;
      }
    }
  }
}

.logistics-create,
.logistics-edit {
  .pepe-form__radiogroup {
    height: 44px;
    line-height: 44px;

    input {
      &[type='radio'] {
        margin-right: 12px;
      }
    }

    label {
      margin-right: 24px;
    }
  }

  .set-region {
    display: inline-block;
    padding-left: 16px;
    font-size: 14px;
    color: $b1-1;
  }

  .notice {
    padding-left: 15.714286%;
    color: $n3-3;
  }

  .mb-12 {
    margin-bottom: 12px;
  }

  .pepe-form__control {
    .region-td {
      line-height: 1.5;
      cursor: pointer;
    }

    .distribute-td {
      .form-control {
        height: 28px;
        width: 100%;
      }
    }

    .need-select-region {
      color: $f2-1;
    }
  }

  .distribute-td {
    padding-right: 16px;
  }

  .distribute-region-editor {
    margin-bottom: 24px;

    .pepe-table-wrap {
      border: 1px solid $n2-1;
      border-radius: 4px;
    }
  }

  .distribute-region-row {
    .operate-td {
      .btn {
        line-height: 28px;
        padding: 0;
      }
    }
  }

  .del-rule {
    color: $f1-6;
    margin-left: 24px;
    cursor: pointer;
  }

  $item-paceing: 12px;

  .dispatch-type {
    margin-bottom: 16px;

    input {
      margin-right: $item-paceing;
    }

    .form-control {
      width: 172px;
      float: none;
      display: inline-block;
      vertical-align: middle;
      margin-right: $item-paceing;
      margin-left: $item-paceing;
    }
  }

  $btn-color: #24c335;

  .add-distribute-btn {
    background-color: transparent;
    color: $btn-color;
    border-color: $btn-color;
    font-size: 14px;

    &::before {
      font-size: 16px;
    }

    &:focus {
      outline: none;
      border-color: $btn-color;
      box-shadow: none;
    }

    &:active {
      color: $btn-color;
      background-color: transparent;
      box-shadow: $shadow;
    }
  }
}

$tool-card-spacing: 16px;

.marketing-tools-container {
  margin: 0 (-$tool-card-spacing);
}

.marketing-tool {
  $avatar-spacing: 108px;

  position: relative;
  display: inline-block;
  width: 432px;
  padding-left: $avatar-spacing;
  margin: 0 $tool-card-spacing $tool-card-spacing * 2;
  background-color: $white;
  overflow: hidden;

  .tool-avatar {
    $size: 68px;
    $spacing: 20px;

    position: absolute;
    top: $spacing;
    left: $spacing;
    height: $size;
    width: $size;
    border-radius: $size;
    text-align: center;
    line-height: $size;
  }

  $color: #14174b;

  .tool-header {
    color: $color;
  }

  .iconpepe-gift {
    $color: #ee4d6b;

    color: $color;
    font-size: 28px;
  }

  .gift-avatar {
    $bg: #fff0f3;

    background-color: $bg;
  }

  .iconpepe-instant-deal {
    $color: #ffbc00;

    color: $color;
    font-size: 30px;
  }

  .instant-deal-avatar {
    $bg: #fff9e3;

    background-color: $bg;
  }

  .tool-name {
    margin: 15px 0 2px;
    font-size: 16px;
    font-weight: 700;
  }

  .tool-desc {
    margin: 2px 0 12px;
    font-size: 12px;
  }

  $m-s-color: #67738d;

  .m-s-gray {
    color: $m-s-color;
  }

  .tool-info {
    font-size: 12px;
    margin-bottom: 17px;
  }
}

.r-selector {
  $outline-color: #fffec6;
  $outline-border-color: #f7e4a5;

  .r-selector__content {
    box-sizing: border-box;
    padding: 20px 10px;
    overflow: auto;
  }

  [type='checkbox'] {
    margin-right: 5px;
  }

  .toggle-icon {
    margin-left: 2px;
    font-style: initial;
  }

  .r-checkbox {
    padding: 5px;
    height: 32px;
  }

  .r-selector__row {
    box-sizing: border-box;
    width: 100%;
  }

  [class*='r-selector__col'] {
    display: inline-block;
    vertical-align: top;
  }

  .r-selector__col-3 {
    width: 25%;
  }

  .r-selector__col-9 {
    width: 75%;
  }

  .r-selector__col-4 {
    width: 33.333333%;
  }

  .r-p-checkbox {
    position: relative;
    display: inline-block;
  }

  .r-p-checkbox_spread {
    background-color: $outline-color;
  }

  .r-p-checkbox__container {
    border: 1px solid transparent;
  }

  .r-p-checkbox__container_spread {
    border-bottom: 0;
    border-color: $outline-border-color;
  }

  .r-c-checkbox {
    position: absolute;
    left: 0;
    width: 180px;
    max-height: 200px;
    margin-bottom: 50px;
    padding: 5px;
    border: 1px solid $outline-border-color;
    border-top: 0;
    word-break: break-all;
    white-space: normal;
    background-color: $outline-color;
    display: none;
    z-index: 3;
    overflow-y: scroll;
  }

  .r-c-checkbox_spread {
    display: block;
    text-align: left;
  }

  .r-c-checkbox__closer {
    text-align: right;

    span {
      cursor: pointer;
    }
  }

  .addr-selector__footer {
    text-align: right;

    .btn {
      margin: 0 5px;
    }
  }
}

.shelf-category-list-container,
.shelf-list-container {
  .table-action-group {
    .btn {
      width: unset;
      min-width: 62px;
      padding-left: 5px;
      padding-right: 5px;
    }

    .btn-default {
      color: $f1-1;
      border-color: $n2-2;
    }
  }

  .priority-input {
    display: inline-block;
    margin-left: 5px;
  }

  .arraw {
    display: inline-block;
  }
}

.product-wrap {
  .pepe-form__bd {
    position: relative;

    &.disabled {
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        cursor: not-allowed;
      }
    }
  }

  .sales-mode-supplier-input-container {
    .FormInput {
      .FormError {
        margin-left: 276px;
        clear: left;
        font-size: 14px;
      }
    }

    .question-sign__select-supplier {
      font-size: 18px;
    }
  }

  .iconpepe-question-sign {
    margin-top: 8px;
    margin-left: 13px;
    color: $f2-2;
    font-size: 20px;
  }
}

.shelf-list {
  .question-sign__list-header {
    margin-left: 4px;
  }
}

.supplier-edit,
.supplier-create {
  .pepe-form__control {
    .form-control {
      width: 490px;
    }
  }

  .form-control-content {
    line-height: 44px;
  }
}

.supplier-bill {
  margin-bottom: 0;

  .supplier-bill-pane {
    margin-top: 5px;
  }

  .pepe-table-wrap {
    overflow: auto;
    text-align: center;

    th,
    td {
      min-width: 100px;
      text-align: center;
    }
  }

  .supplier-list-action-nav {
    margin-bottom: 10px;

    .btn {
      padding-left: 0;
      padding-right: 0;
      font-size: 13px;

      &:hover,
      &:active,
      &:focus {
        background-color: $white;
      }

      &.active {
        background-color: $white;
        color: $n3-3;
        border-color: $n2-1;
        box-shadow: none;
      }
    }
  }

  .bill-info__title {
    margin-bottom: 30px;
    font-size: 16px;
    text-align: center;
  }

  .bill-info__supplier {
    margin-bottom: 20px;
  }

  .bill-info__item {
    display: inline-block;
    margin-right: 20px;
    padding: 0 10px;

    &:first-child {
      padding-left: 0;
    }
  }

  .supplier-bill-detail-table {
    width: unset;
    max-width: unset;

    $ceil-padding: 16px;

    th {
      &:last-child {
        padding-right: $ceil-padding;
      }
    }

    td {
      &:first-child {
        padding-left: $ceil-padding;
      }

      &:last-child {
        padding-right: $ceil-padding;
      }
    }
  }
}

.menu {
  .menu__title {
    &:only-child {
      display: none;
    }
  }
}

.product-list-pane,
.shelf-category-list-container,
.shelf-list-container {
  .priority-input {
    margin-top: -10px;
    width: 70px;
    vertical-align: middle;
    height: 36px;
    border-radius: 4px;
    padding: 6px 12px;
    border: 1px solid $n2-1;
  }
}

.product-list-pane {
  .priority-input {
    width: 42px;
    padding: 6px 5px;
  }
}

.product-preview-modal {
  .product-preview-container {
    $cnt-bg: #eeeff1;

    margin: auto;
    background-color: $cnt-bg;

    &.mobile {
      width: 375px;

      .product-preview-iframe {
        min-height: 667px;
      }
    }
  }

  .product-preview-iframe {
    min-height: 500px;
    width: 100%;
    border: 0;
  }

  .btn {
    margin-right: 10px;
  }

  .btn-group {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1100px) {
  .modal-dialog {
    &.modal-lg {
      width: 1100px;
    }
  }
}

// 客服按钮
.suspension {
  $trigger-size: 72px;
  $content-w: 224px;
  $content-h: 264px;
  $content-trigger-padding: 18px;

  position: fixed;
  bottom: 48px;
  right: 48px;
  outline: none;
  z-index: $z-popout;

  .suspension__pop-content {
    $triangle-size: 10px;
    $transition-time: .3s;
    $content-shadow-clr: rgba(20, 23, 75, .16);

    position: absolute;
    bottom: $trigger-size + $content-trigger-padding;
    height: 0;
    width: $content-w;
    opacity: 0;
    transition: opacity $transition-time ease;
    right: -10px;
    text-align: center;
    overflow: hidden;
    background-size: cover;
    background-image: url('../img/suspension-pop-content-bg.png');
  }

  .suspension__propaganda-text,
  .suspension__service-wechat {
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 1;
  }

  .suspension__propaganda-text {
    margin-top: 25px;
    color: $n3-1;
  }

  .suspension__service-wechat {
    color: $n3-3;
  }

  .suspension__qrcode {
    width: 100%;
    padding: 0 22px;
  }

  .suspension__trigger {
    $trigger-shadow-clr: rgba(20, 23, 75, .24);

    display: inline-block;
    height: $trigger-size;
    width: $trigger-size;
    border-radius: $trigger-size / 2;
    background-color: $b1-1;
    box-shadow: 0 4px 12px 0 $trigger-shadow-clr;
    text-align: center;

    .iconpepe-service {
      line-height: $trigger-size - 17;
      font-size: 44px;
      color: $white;
    }

    .service-word {
      color: $white;
      position: relative;
      top: -13px;
      font-size: 12px;
      font-weight: 200;
    }
  }

  &.suspension-show {
    .suspension__pop-content {
      height: $content-h;
      opacity: 1;
    }
  }
}

.payment-plan-wrap {
  font-family: PingFangSC-Regular, sans-serif;
  max-width: 896px;
  margin-left: auto;
  margin-right: auto;

  .btn {
    &[disabled] {
      &[type='submit'] {
        background-color: $f1-3;
        border-color: transparent;
      }
    }
  }

  // 选择服务
  .form-control-content {
    line-height: 44px;
  }

  .selector-wrap {
    margin-bottom: 19px;
  }

  .service-selecter {
    margin-right: 16px;

    .FormInput {
      display: inline-block;
      vertical-align: middle;
      margin-right: 12px;
    }
  }

  .selector-label {
    margin-right: 16px;

    .FormInput {
      display: inline-block;
      margin-right: 12px;
    }
  }

  .payment-bonus {
    color: $f1-6;
  }

  .payment-count-wrap {
    text-align: right;
  }

  .payment-count {
    text-align: left;
    display: inline-block;
  }

  .total-payment {
    margin-right: 115px;
    line-height: 1;

    .total-money {
      color: $f1-6;
      font-size: 20px;
    }
  }

  .provision-word {
    display: inline-block;
    color: $n3-5;
    font-size: 12px;
  }

  // 订单支付
  .payment-check {
    th {
      font-weight: bold;
    }

    .pepe-table {
      border: 1px solid $n2-1;
      border-radius: 4px;

      td {
        border-color: $n2-1;
        border-width: 1px;

        &.first {
          padding-right: 10px;
        }
      }
    }

    .service-time {
      display: inline-block;
      margin-top: 12px;
      color: $f1-6;
    }
  }

  .payment-area {
    text-align: center;
    margin-top: 36px;
  }

  .verify-notice {
    color: $n3-2;
    margin-bottom: 16px;
  }

  .scan-notice {
    color: $b1-1;
  }

  .payment-qrcode-wrap {
    margin-top: 16px;
    position: relative;
  }

  .payment-qrcode {
    width: 200px;
    height: 200px;
    border: 0;
  }

  .payment-qrcode-refresh {
    $cover-clr: rgba(255, 255, 255, .92);

    z-index: $z-content;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $cover-clr;
    text-align: center;
  }

  .refresh-notice {
    margin-top: 73px;
  }

  .payment-success {
    min-height: 512px;
    overflow: hidden;
    text-align: center;
    line-height: 1;
  }

  .success-word {
    margin-top: 205px;
    margin-bottom: 64px;
    font-size: 24px;

    .iconpepe-success {
      margin-right: 16px;
    }
  }

  .redirect-seconds {
    color: $f1-6;
  }
}

.list-header,
.wechat-pay-form,
.miniapp-version-layout__hd {
  h1 {
    .iconpepe-question-sign {
      line-height: 40px;
      vertical-align: top;
    }
  }

  .iconpepe-question-sign {
    color: inherit;
    margin-left: 5px;
    font-size: 16px;

    &:hover {
      color: inherit;
    }
  }
}

.wechat-pay-form {
  .iconpepe-question-sign {
    line-height: 24px;
    vertical-align: top;
  }
}
