@font-face {
  font-family: 'iconpepe';
  src: url('//at.alicdn.com/t/font_336326_p80x5egvns8gds4i.eot');
  src:
    url('//at.alicdn.com/t/font_336326_p80x5egvns8gds4i.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_336326_p80x5egvns8gds4i.woff') format('woff'),
    url('//at.alicdn.com/t/font_336326_p80x5egvns8gds4i.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_336326_p80x5egvns8gds4i.svg#iconfont') format('svg');
}

[class^='iconpepe-'],
[class*=' iconpepe-'] {
  color: $b1-2;

  &::before {
    font-family: 'iconpepe' !important; /* stylelint-disable-line */
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

$icon-config:
  'caret' '\e68f',
  'dropdown' '\e690',
  'product' '\e691',
  'order' '\e692',
  'refund' '\e693',
  'shelf' '\e694',
  'ad' '\e695',
  'vendor' '\e696',
  'close' '\e697',
  'add' '\e698',
  'upload' '\e699',
  'check' '\e69a',
  'delete' '\e69b',
  'plus' '\e69d',
  'success' '\e69e',
  'fail' '\e69f',
  'robot' '\e6a0',
  'supplier' '\e6a1',
  'logistics' '\e6b5',
  'auth' '\e6a2',
  'qrcode' '\e6a3',
  'version' '\e6a4',
  'wechat-pay' '\e6a5',
  'theme' '\e6a6',
  'dev' '\e6a7',
  'shop' '\e6a8',
  'ecology' '\e6a9',
  'wechat' '\e6aa',
  'remove' '\e6ad',
  'coupon' '\e6ae',
  'clock' '\e6af',
  'marketing-tool' '\e6b6',
  'gift' '\e6bf',
  'question-sign' '\e6e5',
  'instant-deal' '\e6be',
  'instant-deal' '\e6be',
  'sales' '\e6e2',
  'service' '\e6e8',
  'group-buying' '\e6e3',
  'analysis' '\e78c';

@each $tuple in $icon-config {
  .iconpepe-#{nth($tuple, 1)} {
    &::before {
      content: nth($tuple, 2);
    }
  }
}
