{
  "env": {
    "browser": true,
    "es6": true
  },
  "parserOptions": {
      "ecmaFeatures": {
          "jsx": true,
      },
      "sourceType": "module",
      "ecmaVersion": 6
  },
  "globals": {
    "$": true
  },
  # "extends": "airbnb",
  "rules": {
    "comma-dangle": 0,
    "no-console": 0,
    "id-length": 0,
    "indent": ["error", 4],
  }
}
