@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;
}

.slightly-rounded {
 @include border-radius(2px);
}

.very-rounded {
 @include border-radius(16px);
}
